.table_container{
    padding: 20px 150px;
}

table, th, td {
    border: 1px solid black;
}

table{
    /* width: 600px; */
    text-align: center;
    justify-content: center;
}

th{
    margin: auto;
    width: 50px;
}

td{
    padding: 5px;
}

input{
    width: 100%;
    text-align: center;
    border: none;
}

input:focus{
    outline: none;
}

button{
    align-items: center;
}

.btn-sm{
    padding: 0px 10px;
}

.main_content{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 25px;
}


@media screen and (max-width: 576px){
    table{
        width: 90vw;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    table{
        width: 65vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    table{
        width: 70vw;
    }
}

@media screen and (min-width: 992px){
    table{
        width: 700px;
    }
}