.menu_icon{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0px;
}

.menu_icon_container{
    margin-right: 20px;
}

.navbar_custom{
    background-color: #9B2620 !important;
    color: white;
}

.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: white;
}


.offcanvas{
    width: 300px !important;
    background-color: #E8E9EF !important;
}

body{
    background-color: #E8E9EF;
}

.menu_icons{
    display: inline-block;
    width: 50px;
}

h1{
    text-align: center;
    font-size: 25px;
}

.dropdown{
    list-style-type: none;
}

.menu_item{
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
}

#dashboard:hover, #assign_task:hover, #assigned_task:hover, #to_do:hover, #register:hover, #make_hierarchy:hover, #all_users:hover, #profile:hover, #logout :hover{
    background-color: white;
}



/* hide right corner email for mobile */
@media screen and (max-width: 550px){
    .user_email{
        display: none;
        visibility: hidden;
    }
}


