body{
  background-color: #E8E9EF;
}

h3{
  text-align: center;
}

.container{
  height: 100vh;
}

.row{
  width: 100%;
}

.card{
  padding: 40px 30px;
}

img{
  display: block;
  margin: auto; 
  width: 130px;
  height: 130px;
  margin-bottom: 15px;
}

.btn{
  background-color: #0500B2;
  color: white
}

@media screen and (min-width: 765px) and (max-width: 1380px){
  .card{
    width: 45vw;
  }
}