.task{
    padding: 10px 12px;
    align-self: center;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    background-color: white;
}

.task_list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.date_block{
    text-align: right;
}

.button_block{
    text-align: right;
    padding: 0px;
}

h2{
    font-size: 20px;
    margin: 0px;
}

@media screen and (max-width: 576px){
    .task{
        width: 90vw;
    }
    
    .date_block{
        text-align: left;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .task{
        width: 90vw;
    }

    .date_block{
        text-align: left;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .task{
        width: 60vw;
    }
}

@media screen and (min-width: 992px){
    .task{
        width: 50vw;
    }
}