{% extends 'base.html' %}

{% block title %}Assign Task{% endblock title %}

{% block additional_links %}
<link rel="stylesheet" href="/static/assign_task.css">
{% endblock additional_links %}

{% block body %}

<h1>Assign Task</h1>

<div class="container form_box border border-dark">
    <form method="POST" action="/assign-task/">
        {% csrf_token %}
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name="title">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" rows="3" name="description"></textarea>
        </div>

        <div class="d-flex justify-content-between">
            <div class="w-47">
                <label for="assign_to" class="form-label">Assign To</label>
                <select class="form-select mb-3" aria-label="Default select example" name="assign_to">
                    <option selected>Open this select menu</option>
                    {% for x in emails %}
                        <option value="{{x}}">{{x}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="w-47">
                <label for="deadline" class="form-label">Deadline</label>
                <input type="date" class="form-control" name="deadline">
            </div>
        </div>

        <div class="mb-3 w-47">
            <label for="upload_file" class="form-label">Upload File</label>
            <input type="file" class="form-control" name="upload_file">
        </div>
        
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
</div>

{% endblock body %}


