<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/base.css">
    {% block additional_links %}{% endblock additional_links %}
  </head>
  <body>
    

    <nav class="navbar navbar_custom navbar-expand-lg bg-body-tertiary px-3">
      <div class="container-fluid d-flex justify-content-between">
        <div class="navbar_item d-flex align-items-center">
          <div class="menu_icon_container" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            <div class="menu_icon"></div>
            <div class="menu_icon"></div>
            <div class="menu_icon"></div>
          </div>
          <a class="navbar-brand" href="#">WorkPrism</a>
        </div>

        <div class="navbar_item user_email">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{request.user.email}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/profile/{{request.user.email}}">Profile</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>  
        </div>

        </div>
      </div>
    </nav>



    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">WorkPrism</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="menu_container">
        <div id="dashboard">
          <a class="menu_item" href="/dashboard">Dashboard</a>
        </div>
        <div id="assign_task">
          <a class="menu_item" href="/assign-task">Assign Task</a>
        </div>
        <div id="assigned_task">
          <a class="menu_item" href="/assigned-tasks">Assigned Tasks</a>
        </div>
        <div id="to_do">
          <a class="menu_item" href="/to-do">To Do</a>
        </div>

        {% if request.user.is_superuser %}
        <div id="register">
          <a class="menu_item" href="/register">Register</a>
        </div>
        <div id="make_hierarchy">
          <a class="menu_item" href="/make-hierarchy">Make Hierarchy</a>
        </div>
        <div id="all_users">
          <img src="/static/all_users.png" class="menu_icons" style="width: 30px;">
          <a class="menu_item" href="/all-users">All Users</a>
        </div>
        {% endif %}
        
        <div id="profile">
          <img src="/static/profile.png" class="menu_icons" style="width: 40px;">
          <a class="menu_item" href="/profile/{{request.user.email}}">Profile</a>
        </div>
        <div id="logout">
          <a class="menu_item" href="/logout">Logout</a>
        </div>
      </div>
    </div>

    {% block body %}{% endblock body %}




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>