{% extends 'base.html' %}

{% block title %}Task Detail{% endblock title %}

{% block additional_links %}
<link rel="stylesheet" href="/static/task_detail.css">
{% endblock additional_links %}

{% block body %}


<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="shadow-lg col-12 col-sm-11 col-md-11 col-lg-9 border border-dark main_content">
            <h1>{{task_details.title}}</h1>
            <div class="assigned_by">Assigned By: {{task_details.assignor_name}}</div>

            <hr>

            <div class="description mb-2">
                <b>Description: </b> {{task_details.description}}
            </div>

            <div class="deadline mb-2">
                <b>Due Date: </b> {{task_details.deadline}}
            </div>

            <div class="status mb-4">
                <b>Status: </b> {{task_details.status}}
            </div>

            <div class="file_container mt-3 d-flex flex-wrap">
                {% for x in files %}
                    {% if x.uploaded_by_email == task_details.assignor_email %}
                        <a class="file mb-3" href="/media/{{x.file}}">
                            <img class="file_icon" src="/static/file_icon.png">
                            <p class="file_name">{{x.file}}</p>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>


            {% if task_details.status == "In Progress" and request.user.email == task_details.assignee_email %}
            <hr>    
            <form method="POST" action="/task-detail/{{task_details.task_id}}/" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                    <label for="upload_file" class="form-label">Upload File</label>
                    <input type="file" class="form-control" id="form_field" name="upload_file" onchange="update_file_list()" multiple>
                </div>

                <div class="mt-3" id="uploaded_file_list"></div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% else %}
                {% if file_cnt != 0 %}
                <hr>
                <h2>Submitted Files</h2>
                {% endif %}
                <div class="file_container mt-3 d-flex flex-wrap">
                    {% for x in files %}
                        {% if x.uploaded_by_email == task_details.assignee_email %}
                            <a class="file mb-3" href="/media/{{x.file}}">
                                <img class="file_icon" src="/static/file_icon.png">
                                <p class="file_name">{{x.file}}</p>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                {% if task_details.status == "Under Review" and request.user.email == task_details.assignor_email %}
                {% if file_cnt == 0 %}<hr>{% endif %}    
                <form method="POST" action="/change-task-status/{{task_details.task_id}}/" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                            <label for="change_status" class="form-label">Change Status</label>
                            <select class="form-select" aria-label="Default select example" name="change_status">
                                <option value="In Progress" selected>In Progress</option>
                                <option value="Completed">Completed</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                {% endif %}
            {% endif %}
            

            <hr>
            <div class="container comment_section">
                <h2 class="mb-3">Comment</h2>

                {% for x in comments %}
                <div class="comment">
                    <p class="commentor_name"><b>{{x.commentor_name}}</b></p>
                    <p>{{x.comment}}</p>
                </div>
                {% endfor %}

                <form action="/add-comment/{{task_details.task_id}}/" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" name="comment" placeholder="Comment...">
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Add Comment</button>
                </form>
            </div>

        </div>
    </div>
</div>


<script src="/static/task_detail.js"></script>

{% endblock body %}


